<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid ms-3 me-3">
    <a class="navbar-brand logo" href="index.html">PetMedic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/nuestro-equipo.html">Ver profesionales</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="pages/seleccionEspecialidad.html">Agendar cita</a></li>
            <li><a class="dropdown-item" href="pages/gestionar-cita.html">Gestionar cita</a></li>
            <li><a class="dropdown-item" href="pages/formulario-registro.html">Registrar mascota</a></li>
            <li><a class="dropdown-item" href="pages/mascotas.html">Mascotas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="pages/mapa.html">Ver mapa</a></li>
          </ul>
        </li>
      </ul>
      <a class="btn btn-outline-success" href="pages/formulario-registro-usuario.html">Registrarse</a>
      <a class="btn btn-primary ms-2" href="pages/formulario-inicio-sesion.html">Iniciar sesion</a>
    </div>
  </div>
</nav>  