/* formularios.css */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.form-item {
  width: 100%;
  max-width: 800px;
  margin-bottom: 15px;
}

.form-item ion-input,
.form-item ion-button,
.form-item ion-checkbox {
  width: 100%;
}

.form-item ion-label {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .form-container {
      padding: 10px;
  }
}