
.card-body {
    background-color: #bb8a52;
    color: white;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.card {
    border-color: #6d9773;
    border-radius: 10px;
}