/* Estilos generales del footer */
.footer {
    background-color: #2E3B4E;
    color: #f2f2f2;
    padding: 40px 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Información de contacto */
.contact-info {
    flex: 1;
    margin-right: 30px;
}

.contact-info p {
    margin: 8px 0;
    font-size: 16px;
}

.contact-info p strong {
    font-size: 18px;
    color: #ffcc00;
}

/* Redes sociales */
.social-media {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.social-icon {
    color: #f2f2f2;
    font-size: 28px;
    margin-left: 20px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    color: #ffcc00; /* Cambia el color a un tono más cálido al pasar el mouse */
    transform: scale(1.1); /* Efecto de aumento */
}

/* Footer Bottom */
.footer-bottom {
    background-color: #243140;
    padding: 20px 0;
    margin-top: 30px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #c6c6c6;
}

/* Responsividad */
@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        text-align: center;
    }

    .contact-info {
        margin: 0 0 20px 0;
    }

    .social-media {
        justify-content: center;
    }

    .social-icon {
        margin: 0 10px;
    }
}
