header{
    background-color: #c4762b;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar .navbar-expand-lg .lg-body-tertiary{
    background-color: #c4762b;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4CAF50;  /* Color de fondo del navbar */
    width: 100%;                /* Asegurar que el navbar ocupe todo el ancho */
    margin: 0;                  /* Eliminar cualquier margen */
    padding: 0;                 /* Eliminar padding del navbar */
}

.navbar .container-fluid { 
    background-color: #c4762b;
    width: 100%;
    margin: 0;
    padding: 0 15px;
}   

.navbar .navbar-brand {
    color: #fff; /* Ajusta el color del texto del logo si es necesario */
}

.navbar .nav-link {
    color: #fff; /* Cambia el color de los enlaces dentro del navbar */
}

.navbar .btn-outline-success {
    color: #fff;
    border-color: #fff;
}

.navbar .btn-outline-success:hover {
    color: #4CAF50;
    background-color: #fff;
    border-color: #fff;
}

.navbar .btn-primary {
    background-color: #fff;
    border-color: #fff;
    color: #4CAF50;
}

.navbar .btn-primary:hover {
    background-color: #4CAF50;
    color: #fff;
}